<a href="https://colab.research.google.com/github/Gayathri0908/Basics-of-Python/blob/main/Basics_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello World")

Hello World

In [ ]:
print("Gayathri")

Gayathri

In [ ]:
num = int(input("Enter a number: "))
if num % 2 == 0:
    print("Even")
else:
    print("Odd")

Enter a number: 2
Even

In [ ]:
def factorial(n):
    res = 1
    for i in range(1, n + 1):
        result *= i
    return res
n

In [ ]:
s = input("Enter a string: ")
reversed_str = ''
for char in s:
    reversed_str = char + reversed_str
print(reversed_str)

Enter a string: hello
olleh

In [ ]:
a, b, c = 10, 20, 15
if a >= b and a >= c:
    largest = a
elif b >= a and b >= c:
    largest = b
else:
    largest = c
print("Largest number:", largest)

Largest number: 20

In [ ]:
lst = [10, 20, 30, 40, 50]
total = sum(lst)
avg = total / len(lst)
print("Sum:", total)
print("Average:", avg)

Sum: 150
Average: 30.0

In [ ]:
number = [1, 2, 2, 3, 4, 4, 5]
unique_number = list(set(number))
print(unique_number)

[1, 2, 3, 4, 5]

In [12]:
numbers = [5, 3, 8, 1]
for i in range(len(numbers)):
    for j in range(i + 1, len(numbers)):
        if numbers[i] < numbers[j]:
            numbers[i], numbers[j] = numbers[j], numbers[i]
print(numbers)

[8, 5, 3, 1]

In [16]:
def get_Total_Vowels(String):
  vowels = 0
  for i in String:
    if i in 'aeiouAEIOU':
      vowels += 1
  return vowels
String = input()
print(get_Total_Vowels(String))

Hello wORLD
3

In [17]:
list1 = [3, 1, 4]
list2 = [6, 2, 5]
merged = list1 + list2
merged.sort()
print("Sorted merged list:", merged)

Sorted merged list: [1, 2, 3, 4, 5, 6]

In [18]:
students = {"Ram": 85, "Sita": 92, "John": 78, "Sara": 88, "Ali": 90}
topper = max(students, key=students.get)
print("Topper:", topper)

Topper: Sita

In [20]:
text = input()
words = text.split()
freq = {}
for word in words:
    freq[word] = freq.get(word, 0) + 1
print(freq)

this is a text its a only text
{'this': 1, 'is': 1, 'a': 2, 'text': 2, 'its': 1, 'only': 1}

In [21]:
keys = ["a", "b", "c"]
values = [1, 2, 3]
new_dict = dict(zip(keys, values))
print(new_dict)

{'a': 1, 'b': 2, 'c': 3}

In [22]:
my_dict = {"a": 1, "b": 2, "c": 3}
my_dict.pop("b")
print(my_dict)

{'a': 1, 'c': 3}

In [23]:
data = {"name": "John", "age": 25}
data["age"] = 26  # update
data["city"] = "Chennai"  # add
print(data)

{'name': 'John', 'age': 26, 'city': 'Chennai'}

In [24]:
num = 5
for i in range(1, 11):
    print(f"{num} x {i} = {num * i}")

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [25]:
for num in range(2, 101):
    for i in range(2, num):
        if num % i == 0:
            break
    else:
        print(num, end=" ")

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [27]:
n = int(input())
total = 0
while(n>0):
  digit = n%10
  total = total + digit
  n = n//10
print(total)

1234
10

In [29]:
n = int(input())  # Number of terms you want in the sequence
fibonacci = [0, 1]

for i in range(2, n):
    next_number = fibonacci[i - 1] + fibonacci[i - 2]
    fibonacci.append(next_number)

print("Fibonacci sequence:")
print(fibonacci)

10
Fibonacci sequence:
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [30]:
names = ["Ammu", "John", "Anil", "Priya"]
for name in names:
    if name.startswith("A"):
        print(name)

Ammu
Anil

In [31]:
import pandas as pd
import numpy as np
arr = np.zeros(10)
arr[4] = 1
print(arr)

[0. 0. 0. 0. 1. 0. 0. 0. 0. 0.]

In [32]:
rand_arr = np.random.randint(1, 101, 10)
print("Array:", rand_arr)
print("Mean:", np.mean(rand_arr))
print("Standard Deviation:", np.std(rand_arr))

Array: [14 74 77  3 68 24 11 42 15 41]
Mean: 36.9
Standard Deviation: 26.428961387084435

In [33]:
data = {'Name': ['Amit', 'Beena', 'Charlie'], 'Age': [25, 30, 22], 'Score': [88, 76, 90]}
df = pd.DataFrame(data)
print(df.head(2))

    Name  Age  Score
0   Amit   25     88
1  Beena   30     76

In [34]:
print(df[df['Score'] > 80])

      Name  Age  Score
0     Amit   25     88
2  Charlie   22     90

In [39]:
data2 = {'Name': ['Amit', 'Beena', 'Charlie'], 'Age': [25, 30, 22], 'Score': [88, np.nan, 90]}
df2 = pd.DataFrame(data2)
score_not_null = df2['Score'].fillna(df2['Score'].mean(), inplace = True)
print(df2)

      Name  Age  Score
0     Amit   25   88.0
1    Beena   30   89.0
2  Charlie   22   90.0

/tmp/ipython-input-39-1896540452.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  score_not_null = df2['Score'].fillna(df2['Score'].mean(), inplace = True)